.nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 50;
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.333%;
}

.nav-button.active {
  color: black;
}

.nav-button:not(.active) {
  color: #9ca3af;
}

.nav-label {
  font-size: 12px;
  margin-top: 4px;
}
/* 활성된 버튼의 레이블은 굵게 */
.nav-button.active .nav-label {
  font-weight: 600; /* 또는 bold */
}

/* 비활성 버튼의 레이블은 얇게 */
.nav-button:not(.active) .nav-label {
  font-weight: 400; /* 또는 normal */
}

/* Tablet styles */
@media (min-width: 440px) {
  .nav-container {
    background-color: #fff;
    height: 72px;
  }

  .nav-button {
    flex-direction: row;
    gap: 8px;
  }

  .nav-label {
    font-size: 14px;
    margin-top: 0;
  }
}
