.nav-container {
  height: 64px;
  border-top: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.333%;
}

.nav-button.active {
  color: black;
}

.nav-button:not(.active) {
  color: #9ca3af;
}

.nav-label {
  font-size: 12px;
  margin-top: 4px;
}

/* 미디어 쿼리 - 태블릿 (iPad Mini) */
@media (min-width: 431px) {
  .nav-container {
    height: 72px;
  }

  .nav-button {
    flex-direction: row;
    gap: 8px;
  }

  .nav-label {
    font-size: 14px;
    margin-top: 0;
  }
}
